.banner {
    background: url('https://file.hstatic.net/200000346773/file/2_9bfc96ae59ee4702b82f82b12ee2e4c9.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 300px;
}
